<div class="doings-section">
  <div class="doings-bar-container">
    <app-mountain-page class="background-mountain"></app-mountain-page>
  </div>

  <div class="doin-headline">
    <h2 class="doings-title">Aktuelle Tätigkeit</h2>
  </div>
  <div class="doings-grid">
    <div class="grid-item item-right">
      <div class="angular-card">
        <img
          class="angular-icon"
          src="assets/images/doings/angular-icon.png"
          alt="Angular Icon"
        />
        <p class="doings-text">
          Zurzeit arbeite ich viel mit <strong>Angular</strong>
        </p>
        <p class="lilText">-> Entwicklung an Übungsprojekte</p>
        <p class="lilText">-> Udemy-Onlinekurs</p>
      </div>
    </div>

    <div class="grid-item item-left">
      <div class="profler-card">
        <img
          class="profiler-icon"
          src="assets/images/doings/profiler-icon.png"
          alt="Profiler Icon"
        />
        <p class="doings-text">
          Zurzeit bin ich im <strong>Profiler</strong> Projekt
        </p>
        <p class="lilText">-> Bearbeitung von Tickets</p>
        <p class="lilText">-> Bugfixing</p>
        <p class="lilText">-> Refinements</p>

      </div>
    </div>
  </div>
</div>
