<div class="doings-section">
  <div class="doin-headline">
  <div class="autoshow">
    <div class="autoBlur ">
      <h2 class="doings-title ">Derzeitige Aufgaben</h2>
    </div>
  </div>
</div>
  <div class="doings-grid">
    <div class="grid-item item-left autoshow">
      <div class="profler-card">
        <img class="profiler-icon" src="assets/images/doings/profiler-icon.png" alt="Profiler Icon" />
        <p class="doings-text">Zurzeit arbeite ich intensiv am <strong>Profiler</strong> </p>
      </div>
    </div>

    <div class="grid-item item-center">
      <ul class="doings-list">
        <div class="autoBlur">
          <li class="list-1">wwwwwwwwwwwwwwwwwww</li>
          <li class="list-1">wwwwwwwwwwwwwwwwwww</li>
          <li class="list-2">wwwwwwwwwwwwwwwwwww</li>
          <li class="list-2">wwwwwwwwwwwwwwwwwww</li>
        </div>
      </ul>
    </div>
    <div class="grid-item item-right autoshow">
      <div class="angular-card">
        <img class="angular-icon" src="assets/images/doings/angular-icon.png" alt="Angular Icon" />
        <p class="doings-text">Zurzeit arbeite ich intensiv mit <strong>Angular</strong> </p>
      </div>
    </div>
  </div>