<div class="doings-section">
  <div class="doings-bar-container">
    <app-mountain-page class="background-mountain"></app-mountain-page>
  </div>

  <div class="doin-headline">
    <h2 class="doings-title">Aktuelle Tätigkeit</h2>
  </div>
<div class="doings-grid">
  <div class="grid-item item-left">
    <div class="profler-card">
      <img
        class="profiler-icon"
        src="assets/images/doings/profiler-icon.png"
        alt="Profiler Icon"
      />

      <p class="lilText">➞ Bearbeitung von <br> Support-Tickets</p>
      <p class="lilText">➞ Bearbeitung von <br> Feature-Requests</p>
    </div>
  </div>

  <div class="grid-item item-right">
    <div class="angular-card">
      <img
        class="angular-icon"
        src="assets/images/icons/threejs-logo.png"
        alt="Angular Icon"
      />

      <p class="lilText">➞ Interaktive 3D-Objekt <br>der Erde mit Three.js umgesetzt</p>
      <p class="lilText">➞ Visualisierung und <br>Animation mit Three.js</p>
    </div>
  </div>
</div>

</div>
