.doings-section {
    max-width: 900px;
    margin: 10rem auto;
    padding: 3rem 2rem;
    color: #f2eaff;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.doin-headline{
    position: relative;
}

.doings-title {
    font-size: 4rem;
    margin: 0;
    text-shadow: 0 0 10px #9e6fe2;
}

.lilText{
font-size: 1.5rem;
text-align: left;
margin-left: 3rem;
}

.lilLilText{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 7rem;
}

.doings-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 16rem;
    align-items: center;
    margin-left: 15rem;
}

.item-left,
.item-right {
    text-align: center;
}


.profler-card {
    width: 500px;
    height: 600px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3%;
    margin-bottom: 12rem;
    margin-top: 3rem;
}

.profiler-icon {
    margin-top: 4.5rem;
    max-width: 300%;
    height: auto;
}

.angular-card{
    width: 500px;
    height: 600px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3%;
    margin-top: 0rem;

}

.angular-icon {
    max-width: 45%;
    height: auto;
}


.doings-text {
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 600px;
    margin-top: 1rem;
}

.doings-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    line-height: 2;
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

.list-1,
.list-2 {
    margin-bottom: 1rem;
}

.autoshow {
    animation: autoShowAnimation;
    animation-timeline: view();
}

@keyframes autoShowAnimation {
    0% {
        opacity: 0;
        transform: translateY(400px) scale(0.3);
    }

    40% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoBlur {
    animation: autoBlurAnimation both;
    animation-timeline: view();
    flex-wrap: wrap;
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(30px);
    }

    50% {
        filter: blur(0);
    }
}
