.loading-container {
    display: flex;
    align-items: center;

}

.clicker-gif{
    width: 80rem;
    height: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    margin-right: 8rem;
}

.loading-title{
    font-size: 7rem;
    color: #ffffff;}

    .autoshowLeft {
  animation: autoShowAnimationLeft;
  animation-timeline: view(); 
}

@keyframes autoShowAnimationLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8); 
  }
  40%,
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}