<div class="loading-container">
  <h1 class="loading-title autoshowPlanet">Refinement&nbsp;– 500&nbsp;Error page</h1>

  <div class="image-row">
<div class="tilt-wrapper" #tiltLeftWrapper (mousemove)="onTilt($event, 'left')" (mouseleave)="onTiltLeave('left')">
  <img src="assets/images/old-projects/oldloading.png" class="clicker-gif autoshowLeft" />
</div>

    <h1 class="arrow autoshowArrow"> ➞ </h1>

<div class="tilt-wrapper" #tiltRightWrapper (mousemove)="onTilt($event, 'right')" (mouseleave)="onTiltLeave('right')">
  <img src="assets/images/old-projects/loading.gif" class="clicker-gif autoshowRight" />
</div>
  </div>
</div>
