.loading-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: clamp(1rem, 3vw, 2rem);
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 2vw, 3rem);
  justify-content: center;
  
}


.clicker-gif {
width: clamp(20rem, 45vw, 60rem); 
   height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
    transform-style: preserve-3d;
  will-change: transform;
  border-radius: 1rem;  max-width: 100%;
}

.tilt-wrapper {
  perspective: 1000px;
  display: inline-block;
  border-radius: 1rem;
    transition: transform 0.2s ease;
}


.loading-title {
    font-size: clamp(2.5rem, 5vw, 7rem);
    color: #ffffff;
    text-align: center;
    max-width: 90vw;
}

.arrow{
  font-size: clamp(2rem, 4vw, 6rem);
  color: #ffffff;
  text-align: center;
  max-width: 90vw;
  margin-top: 11rem;
}

.autoshowLeft {
    animation: autoShowAnimationLeft;
    animation-timeline: view();
}

@keyframes autoShowAnimationLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px) scale(0.8);
    }
    40%, 100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}



.autoshowRight {
    animation: autoShowAnimationRight;
    animation-timeline: view();
}

@keyframes autoShowAnimationRight {
    0% {
        opacity: 0;
        transform: translateX(200px) scale(0.8);
    }
    40%, 100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.autoshowPlanet {
  animation: autoShowAnimationPlanet;
  animation-timeline: view();
}

@keyframes autoShowAnimationPlanet {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.autoshowArrow {
  animation: autoShowAnimationArrow;
  animation-timeline: view();
}

@keyframes autoShowAnimationArrow {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0);
  }

  40% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 768px) {
  .clicker-gif {
    width: 90vw;
  }

  .arrow {
    margin-top: 2rem;
  }

  .image-row {
    flex-direction: column;
    align-items: center;
  }
}
