<div class="headline">
  <div class="autoshow">
    <h1 class="hobbys-title">Hobbys</h1>
  </div>
</div>
<div class="hobby-grid">
  <div class="grid-item image-1-hero">
    <div class="autoshow two-pics-container">
      <img class="pic1-half" src="assets/images/hobbys/brumBrum.jpg" />
      <img class="pic1-half" src="assets/images/hobbys/bigDoggo.jpg" />
    </div>
  </div>

  <div class="grid-item image-2-hero">
    <div class="autoshow">
      <img class="pic2" src="assets/images/hobbys/lilDoggoGif.gif" />
    </div>
  </div>

  <div class="grid-item image-3-hero">
    <div class="autoshow">
      <img class="pic3" src="assets/images/hobbys/lilDoggo.png" />
    </div>
  </div>

  <div class="grid-item image-4-hero">
    <div class="autoshow">
      <img class="pic4" src="assets/images/hobbys/piggy.jpg" />
    </div>
  </div>
</div>
