
 <div class="hobbys-section">

 <h1 class="hobbys-title autoshow">Hobbys</h1>

<div class="parent">
  <img src="assets/images/hobbys/brumBrum.jpg" alt="Bild 1" class="div1 autoshow" />
  <img src="assets/images/hobbys/bigDoggo.jpg" alt="Bild 2" class="div2 autoshow" />
  <img src="assets/images/hobbys/lilDoggoGif.gif" alt="GIF" class="div3 autoshow" />
  <img src="assets/images/hobbys/lilDoggo.png" alt="Bild 3" class="div4 autoshow" />
  <img src="assets/images/hobbys/piggy.jpg" alt="Bild 4" class="div5 autoshow" />
</div>
</div>

