<div class="headline">
  <div class="autoshow">
    <h1 class="hobbys-title">Hobbys</h1>
  </div>
</div>
<div class="hobby-grid">

  <div class="grid-item image-1-hero">
    <div class="autoshow">
      <img class="pic1" src="assets/images/hobbys/placeholder.jpg" alt="Placeholder" />
      <h2>Text</h2>
    </div>
  </div>

  <div class="grid-item image-2-hero">
    <div class="autoshow">
      <img class="pic2" src="assets/images/hobbys/placeholder.jpg" alt="Placeholder" />
    </div>
  </div>

  <div class="grid-item image-3-hero">
    <div class="autoshow">
      <img class="pic3" src="assets/images/hobbys/placeholder.jpg" alt="Placeholder" />
      <h2>Text</h2>
    </div>
  </div>

  <div class="grid-item image-4-hero">
    <div class="autoshow">
      <img class="pic4" src="assets/images/hobbys/placeholder.jpg" alt="Placeholder" />
      <h2>Text</h2>
    </div>
  </div>