
.hobbys-title {
   position: relative;
  font-size: clamp(2.5rem, 6vw, 5.5rem);
  color: #fafafa;
  text-shadow: 0 0 10px #9e6fe2;
  margin: 0 auto;
  max-width: 90vw;
  text-align: center;
  z-index: 100;
  margin-bottom: -67px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30vh);
   gap: clamp(0.5rem, 1vw, 1rem); 
  max-width: 1200px;
  margin: 0 auto;
  padding: clamp(2rem, 4vw, 4rem); 
}

.div1 {
  grid-area: 1 / 1 / 3 / 2; 
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div2 {
  grid-area: 1 / 2 / 3 / 3; 
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div3 {
  grid-area: 1 / 3 / 2 / 5; 
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div4 {
  grid-area: 2 / 3 / 3 / 4; 
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div5 {
  grid-area: 2 / 4 / 3 / 5; 
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: clamp(0.5rem, 1vw, 20px);
  box-shadow: 0 0 10px #9e6fe2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.autoshow {
  animation: autoShowAnimation;
  animation-timeline: view();
}

@keyframes autoShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  30%,
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 768px) {


  .hobbys-title {
    margin-bottom: 1rem;
  }

  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: 1rem;
    padding: 1rem;
  }
  

  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    grid-area: auto;
    height: auto;
    max-width: 90%; 
    margin: 0 auto;  
  }

  .parent img {
    height: auto;
    max-height: 15vh;  
    max-width: 80%;
  }
}
