.TaskManager-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.TaskManager-gif {
    width: clamp(17rem, 37vw, 44rem);
    height: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    margin-right: clamp(1rem, 4vw, 8rem);
    max-width: 90vw;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.TaskManager-title {
    font-size: clamp(2.5rem, 5vw, 7rem);
    color: #ffffff;
    text-align: center;
    max-width: 90vw;
}

.autoshowLeft {
    animation: autoShowAnimationLeft;
    animation-timeline: view();
}

@keyframes autoShowAnimationLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px) scale(0.8);
    }
    40%, 100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.tilt-wrapper {
  perspective: 1000px;
  display: inline-block;
  border-radius: 1rem;
}

