<div class="scene">
  <div class="sky hidden-sky">
    <div class="moon"></div>
    <div class="moon2"></div>
    <div class="moon3"></div>

    <div class="stars"></div>
    <div class="cloud clouds1 hidden-cloud"></div>
    <div class="cloud clouds2 hidden-cloud"></div>
    <div class="cloud clouds3 hidden-cloud"></div>
    <div class="cloud clouds4 hidden-cloud"></div>
    <div class="cloud clouds5 hidden-cloud"></div>
    <div class="cloud clouds6 hidden-cloud"></div>

    <div class="mountain hidden-mountain">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
  </div>

  <div class="bird"></div>
  <div class="bird" style="animation-delay: 2s"></div>
  <div class="bird" style="animation-delay: 6s"></div>

  <div class="fields">
    <div class="rose">
      <div class="flower">
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
      </div>
      <div class="leaf">
        <div class="stem"></div>
        <div class="leafs"></div>
        <div class="leafs"></div>
      </div>
    </div>
  </div>
</div>
