
.learnings-background {
    z-index: -1;
    opacity: 0.5;
    pointer-events: none;
    
}

.learnings-section {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 5rem auto;
    padding: 9rem 1rem;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 200px;
    
}

.learnings-title {
    font-size: 3.8rem;
    margin: 0;
    margin-top: 2rem;
}

.learnings-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    line-height: 2;
    text-align: left;
    max-width: 500px;
    width: 100%;
    margin-top: 4rem;
}

.scene {
    position: absolute;
    top: -10rem; 
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
    display: flex;
    justify-content: center;
    background-color: #00d9ff05;
}

.scene2 {
    position: absolute;
    top: 0rem; 
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
    display: flex;
    justify-content: center;
}

.sky {
    position: absolute;
    width: 100%;
    height: 60%;
    
}

.moon {
    position: absolute;
    top: 20%;
    left: 80%;
    width: 130px;
    height: 130px;
    background: radial-gradient(circle at 30% 30%, #a6a6a6, #d4d4d4);
    border-radius: 50%;
    box-shadow: 0 0 30px 15px rgba(194, 187, 187, 0.8);
    z-index: 1;
    animation: fadeIn 2s ease-in forwards, moonGlow 3s infinite alternate;
}

@keyframes moonGlow {
    0% {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.8);
    }

    100% {
        box-shadow: 0 0 60px 25px rgba(255, 255, 255, 0.6);
    }
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    animation: twinkle 0.5s infinite alternate;

}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

