.learnings-wrapper {
  position: relative;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10vh;
  color: #fff;
  overflow: hidden;
}

.learnings-title {
  text-align: center;
  font-size: clamp(2rem, 6vw, 3.8rem);
  margin-bottom: 3rem;
  text-shadow: 0 0 15px #9e6fe2;
  position: relative;
  z-index: 10;
}

.cloud {
  position: absolute;
  width: clamp(150px, 20vw, 300px);
  height: clamp(75px, 10vw, 150px);
  aspect-ratio: 2 / 1;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: rgba(255, 255, 255, 0.12);
  animation: cloudGlow 3s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: clamp(4px, 1vw, 12px);
  padding: clamp(8px, 1vw, 12px) clamp(15px, 2vw, 20px);
  box-sizing: border-box;
  color: #ddd;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.5rem);
  filter: drop-shadow(0 0 4px #9e6fe2);
  z-index: 5;
  animation-name: cloudGlow, floatCloud;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation: fadeIn 1.5s ease-in forwards, floatCloud 3s ease-in-out infinite;
}

.tech-icon {
  width: clamp(24px, 3vw, 32px);
  height: clamp(24px, 3vw, 32px);
  filter: drop-shadow(0 0 2px #9e6fe2);
  filter: drop-shadow(0 0 2px #9e6fe2);
  padding-top: clamp(4px, 1.5vw, 30px);
}
.tech-label {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  padding-top: clamp(4px, 1.5vw, 30px);
}

.clouds1 {
  top: 22%;
  left: 30%;
  animation-delay: 0s;
  animation-duration: 5.5s;
}
.clouds2 {
  top: 34%;
  left: 10%;
  animation-delay: 0.4;
  animation-duration: 5.8s;
}
.clouds3 {
  top: 46%;
  left: 23%;
  animation-delay: 0.6s;
  animation-duration: 5s;
}
.clouds4 {
  top: 29%;
  left: 75%;
  animation-delay: 0.8s;
  animation-duration: 6.2s;
}
.clouds5 {
  top: 44%;
  left: 50%;
  animation-delay: 1s;
  animation-duration: 5.3s;
}
.clouds6 {
  top: 24%;
  left: 55%;
  animation-delay: 0.3s;
  animation-duration: 6.5s;
}
.clouds7 {
  top: 54%;
  left: 68%;
  animation-delay: 0.2s;
  animation-duration: 5.7s;
}
.clouds8 {
  top: 59%;
  left: 38%;
  animation-delay: 0.4s;
  animation-duration: 6.3s;
}

@keyframes floatCloud {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}



.sky {
  position: absolute;
  width: 100%;
  height: 60%;
}

.moon {
  position: absolute;
  top: 20%;
  left: 80%;
  width: clamp(80px, 10vw, 130px);
  height: clamp(80px, 10vw, 130px);
  background: radial-gradient(circle at 30% 30%, #a6a6a6, #d4d4d4);
  border-radius: 50%;
  box-shadow: 0 0 30px 15px rgba(194, 187, 187, 0.8);
  z-index: 1;
  animation: fadeIn 2s ease-in forwards, moonGlow 3s infinite alternate;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  animation: twinkle 0.5s infinite alternate;
}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes moonGlow {
  0% {
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.8);
  }

  100% {
    box-shadow: 0 0 60px 25px rgba(255, 255, 255, 0.6);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.learnings-background {
  position: fixed;
  top: -3vh;
  left: 0;
  width: 100%;
  height: calc(100vh + 3vh);
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 947px) {
  .cloud {
    flex-direction: column;
    padding: 10px;
  }

  .clouds1 {
    left: 8%;
  }
  .clouds2 {
    left: 5%;
  }
  .clouds3 {
    left: 4%;
  }
  .clouds4 {
    top: 30%;
    left: 54%;
  }
  .clouds5 {
    left: 45%;
  }
  .clouds6 {
    left: 50%;
  }
  .clouds7 {
    left: 55%;
  }
  .clouds8 {
    left: 15%;
  }
}