<div class="agenda-section">
  <div class="card-agenda">
    <div class="section-header">
      <h2 class="title">🚀 Agenda</h2>
    </div>
    <ul class="agenda-list">
      <li class="agenda-item">
        <a href="#about" class="agenda-link"><p>➡️ about me</p></a>
      </li>
      <li class="agenda-item">
        <a href="#hobbys" class="agenda-link"><p>➡️ hobbys</p></a>
      </li>
      <li class="agenda-item">
        <a href="#doings" class="agenda-link"><p>➡️ what am i doin</p></a>
      </li>
      <li class="agenda-item">
        <a href="#learnings" class="agenda-link"><p>➡️ learnings</p></a>
      </li>
      <li class="agenda-item">
        <a href="#future" class="agenda-link"><p>➡️ future stuff</p></a>
      </li>
    </ul>
  </div>
</div>

