<div class="agenda-section">
  <div class="card-agenda">
    <div class="section-header">
      <h2 class="title">Agenda</h2>
    </div>
    <ul class="agenda-list">
      <li class="agenda-item">
        <a href="#about" class="agenda-link"><p>➞ Über mich</p></a>
      </li>
      <li class="agenda-item">
        <a href="#hobbys" class="agenda-link"><p>➞ Hobbys</p></a>
      </li>
      <li class="agenda-item">
        <a href="#doings" class="agenda-link"><p>➞ Aktuelle &shy;Tätigkeiten</p></a>
      </li>
      <li class="agenda-item">
        <a href="#learnings" class="agenda-link"><p>➞ Erlerntes</p></a>
      </li>
      
            <li class="agenda-item">
        <a href="#projectNow" class="agenda-link"><p>➞ Derzeitige &shy;Projekte</p></a>
      </li>
            <li class="agenda-item">
        <a href="#oldprojects" class="agenda-link"><p>➞ Vergangene &shy;Projekte</p></a>
      </li>


      <li class="agenda-item">
        <a href="#future" class="agenda-link"><p>➞ Zukunfts&shy;ziele</p></a>
      </li>
    </ul>
  </div>
</div>

