<div class="agenda-section">
  <div class="card-agenda">
    <div class="section-header">
      <h2 class="title"> Agenda</h2>
    </div>
    <ul class="agenda-list">
      <li class="agenda-item">
        <a href="#about" class="agenda-link"><p>➞ Über mich</p></a>
      </li>
      <li class="agenda-item">
        <a href="#hobbys" class="agenda-link"><p>➞ Hobbys</p></a>
      </li>
      <li class="agenda-item">
        <a href="#doings" class="agenda-link"><p>➞ Aktuelle Tätigkeit</p></a>
      </li>
      <li class="agenda-item">
        <a href="#learnings" class="agenda-link"><p>➞ Erkenntnisse</p></a>
      </li>
      <li class="agenda-item">
        <a href="#future" class="agenda-link"><p>➞ Zukunftsziele</p></a>
      </li>
    </ul>
  </div>
</div>

