.calculator-container {
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

.calculator-gif {
    width: 50rem;
    height: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    margin-right: 12rem;
}

.calculator-title {
    font-size: 7rem;
    color: #ffffff;
}
