.end-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 2rem;
  z-index: 2;
  overflow: hidden;

}

.end-title {
  font-size: clamp(4rem, 10vw, 14rem);
  font-weight: 700;
  text-align: center;
  color: #fafafa;
  text-shadow: 0 0 10px #9e6fe2;
    margin: 0;
}

.float-wrapper {
    margin-top: 35rem;
  animation: floatUpDown 4s ease-in-out infinite;
}


@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

