.end-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 2rem;
  z-index: 2;
  overflow: hidden;

}

.end-title {
  font-size: clamp(4rem, 10vw, 9rem);
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 15px #9e6fe2, 0 0 30px #6f42c1;
  margin: 0;
}

.float-wrapper {
    margin-top: 20rem;
  animation: floatUpDown 4s ease-in-out infinite;
}


@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

