<nav class="main-nav" [ngClass]="{ visible: showSidebar }">
  <ul>
    <li [class.active]="index === 1"><a href="#agenda">Agenda</a></li>
    <li [class.active]="index === 2"><a href="#about">Über mich</a></li>
    <li [class.active]="index === 3"><a href="#hobbys">Hobbys</a></li>

    <li [class.active]="index === 4">
      <a href="#doings">Aktuelle Tätigkeit</a>
    </li>

    <li [class.active]="index === 5 || index === 6">
      <a href="#projectNow">Derzeitiges Projekte</a>
    </li>

    <li [class.active]="index === 7 || index === 8 || index === 9">
      <a href="#sideprojects">Übungsprojekte</a>
    </li>
    <li [class.active]="index === 10 || index === 11 || index === 12">
      <a href="#oldprojects">Vergangene Projekte</a>
    </li>

    <li [class.active]="index === 13"><a href="#learnings">Erlerntes</a></li>

    <li [class.active]="index === 14"><a href="#future">Zukunftsziele</a></li>
    <li [class.active]="index === 15"><a href="#end">Ende</a></li>
  </ul>
</nav>

<div class="background" [ngClass]="{ 'doings-active': index === 4 }">
  <div class="scroll-container">
    
    <div class="page">
      <app-start-page></app-start-page>
      alles noch in progress
    </div>

    <div class="page" id="agenda">
      <app-agenda></app-agenda>
    </div>

    <div class="page" id="about">
      <app-about-me-page></app-about-me-page>
    </div>

    <div class="page" id="hobbys">
      <!-- <div class="autoBlurReversed"> -->
        <app-hobbys></app-hobbys>
    </div>

    <div class="page autoBlurLearningPage" id="doings">
      <!-- <div class="autoBlurReversed"> -->
        <app-doings-page></app-doings-page>
    </div>

    <!-- Project now -->
    <div class="page centered-content" id="projectNow">
      <div class="title-wrapper">
        <div class="projects-title">
          <h1 class="autoshowPlanet">Derzeitiges Projekte</h1>
        </div>
      </div>
    </div>

    <div class="page" id="clicker">
      <app-loading></app-loading>
    </div>

    <!-- Sidequest project -->
    <div class="page centered-content" id="sideprojects">
      <div class="title-wrapper">
        <div class="projects-title">
          <h1 class="autoshowPlanet">Übungs&shy;projekte</h1>
        </div>
      </div>
    </div>

    <div class="page" id="taskmanager">
      <app-taskmanager></app-taskmanager>
    </div>

    <div class="page" id="investmentcalculator">
      <app-investmentcalculator></app-investmentcalculator>
    </div>

    <!-- Old Projects Section -->
    <div class="page centered-content" id="oldprojects">
      <div class="title-wrapper">
        <div class="projects-title">
          <h1 class="autoshowPlanet">Vergangene Projekte</h1>
        </div>
      </div>
    </div>
    <div class="page" id="calculator">
      <app-calculator></app-calculator>
    </div>

    <div class="page" id="conway">
      <app-conway></app-conway>
    </div>

    <div class="autoBlurLearningPage page" id="learnings">
      <div class="autoBlurReversed">
          <app-learnings-page></app-learnings-page>
      </div>
    </div>

    <div class="page" id="future">
      <div class="future-wrapper" id="futureSection">
        <app-futuer-plans-page></app-futuer-plans-page>
        <app-rocket-transition targetSelector="#future"></app-rocket-transition>
      </div>
    </div>

    <div class="autoBlur">
      <div class="page autoshowPlanet" id="end">
        <app-end-page />
      </div>
    </div>
  </div>
</div>
