<div class="old-projects">
    <div class="gif-wrapper">
    <div class="old-projects-header"> <h1>Old Projects</h1></div>

    <div class="masonry-grid">
      <div class="autoshow"><img src="assets/images/old-projects/clicker.gif" class="clicker-gif"></div>
      <div class="placeholder2"><img src="assets/images/old-projects/conway.gif"></div>
      <div class="autoshow"><img src="assets/images/old-projects/conway.gif" class="conway-gif"></div>
      <div class="placeholder"><img src="assets/images/old-projects/conway.gif"></div>
      <div class="placeholder"><img src="assets/images/old-projects/conway.gif"></div>
      <div class="autoshow"><img src="assets/images/old-projects/calculator.gif" class="calculator-gif"></div>
      <div class="placeholder"><img src="assets/images/old-projects/conway.gif"></div>
      <div class="autoshow"><img src="assets/images/old-projects/easteregg.gif" class="easteregg-gif"></div>
      

    </div>
  </div>
</div>
  