<section class="future-section">
    <div class="future-content">
        <h2 class="future-title" > Zukunftspläne / interressen whatever</h2>


        <p class="future-text" >futuer-plans-page works!</p>

        <div class="autoBlur">
            <p class="future-list-text"> 1 wwwwwwwwwwwwwwwwwwwwww</p>
        </div>

        <div class="autoBlur">
            <p class="future-list-text"> 2 wwwwwwwwwwwwwwwwwwwwww</p>
        </div>


            <div class="autoBlur">
            <p class="future-list-text"> 3 wwwwwwwwwwwwwwwwwwwwww</p>
        </div>

    </div>
</section>

