<section class="future-section">
    <div class="future-content">
        <h2 class="future-title" > Zukunftsziele</h2>

        <div class="autoBlur">
            <p class="future-list-text">Spezialisierung im  Frontend Bereich</p>
          </div>
          
          <div class="autoBlur">
            <p class="future-list-text">Geplantes Work & Travel-Jahr in Neuseeland</p>
          </div>
          
          <div class="autoBlur">
            <p class="future-list-text">Erwerb des Ausbilderscheins</p>
          </div>
          

    </div>
</section>

