.future-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}

.future-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  gap: 3rem;
  margin-top: 10rem;
}

.future-title {
  font-size: clamp(2.5rem, 6vw, 5.5rem);
  color: #fafafa;
  text-shadow: 0 0 10px #9e6fe2;
  margin-bottom: 1rem;
}

.circles-container {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center;
  align-items: center;
  gap: clamp(3rem, 6vw, 10rem);
  width: 100%;
  max-width: 1000px;
}

.firstCircle,
.secondCircle,
.thirdCircle {
    flex: 0 0 clamp(300px, 30vw, 450px);
    height: clamp(300px, 30vw, 286px);
    width: clamp(300px, 30vw, 450px);
    background-color: #5c374b;
    border-radius: 27px;
    display: flex
;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    padding: 32px;
}

@media (max-width: 980px) {
  .circles-container {
    flex-wrap: wrap;
  }

  .thirdCircle {
    flex-basis: 100%;
    max-width: 450px;
    margin-top: 2rem;
  }
}


.future-list-text {
  font-size: 2.2rem;
  color: #f2eaff;
  text-align: center;
  margin: 0;
}

.autoshow {
  animation: autoShowAnimation;
  animation-timeline: view(); 
}

@keyframes autoShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.2);
  }
  40%,
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
