<div class="jc-con autoBlur">
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-rocket-container">
  <div class="jc-rocket">
    <div class="jc-rocket-head">
    </div>
    <div class="jc-rocket-window">
    </div>
    <div class="jc-booster">
    </div>
    <div class="jc-booster-flames">
    </div>
  </div>

</div>



