
.jc-con{
  z-index:-2;
  overflow:hidden;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*background: radial-gradient(circle,rgba(158, 128, 38, 1) 6%, rgba(3, 15, 107, 1) 45%);
*/
}
.jc-rocket-container{
  z-index:1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  opacity: 0.5;
}
.jc-rocket{
  background-color: #fff;
  height: 300px;
  width: 100px;
  animation: rocketfly 5s ease-in-out infinite;
}
.jc-rocket:before{
  content:'';
  position:absolute;
  top:50%;
  right:100%;
  border-bottom: 200px solid red;
  border-left: 60px solid transparent;
}
.jc-rocket:after{
  content:'';
  position:absolute;
  top:50%;
  left:100%;
  border-bottom: 200px solid red;
  border-right: 60px solid transparent;
}
.jc-rocket-head{
  position:relative;
  top: -35%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.jc-rocket-window{
  position:relative;
  top: 0;
  left: 30%;
  height: 50px;
  width: 50px;
  border: 10px solid gray;
  background-color: skyblue;
  border-radius: 50%;

}
.jc-booster{
  height: 40px;
  width: 100px;
  position:absolute;
  top:100%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid gray;
  box-sizing: border-box;
}
.jc-booster-flames{
  background-color:yellow;
  position:absolute;
  left: 0%;
  top: 120%;
  height: 100px;
  width: 100px;
 border-radius: 0 50% 50% 50%;
  transform:rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  animation: flames 2s linear infinite;
  box-sizing: border-box;
}
.jc-stars{
  z-index: -1;
  background-color:#fff;
  position:absolute;
  top:-10%;
  height: 10px;
  width: 10px;
  animation: stars 3s linear infinite;
  opacity: 0.7;

}
.jc-stars:nth-child(2){
  left:25%;
  animation-delay: 1s;
}
.jc-stars:nth-child(3){
  height:15px;
  width:15px;
  left:42%;
  animation-delay: 1.7s;
}
.jc-stars:nth-child(4){
  left:66%;
  animation-delay: 6.5s;
}
.jc-stars:nth-child(5){
  left:59%;
  animation-delay: 2.6s;
}
.jc-stars:nth-child(6){
  left:74%;
  animation-delay: 4.9s;
}
.jc-stars:nth-child(7){
  height:15px;
  width:15px;
  left:105%;
  animation-delay: 4s;
}
.jc-stars:nth-child(8){
  left:125%;
  animation-delay: 2.8s;
}
.jc-stars:nth-child(9){
  left:131%;
  animation-delay: 1.9s;
}
.jc-stars:nth-child(10){
  left:145%;
  animation-delay: 5.8s;
}
@keyframes stars{
  0%{
    transform:translate(200px,-200px) rotate(0deg);
  }
  100%{
    transform:translate(-700px,700px) rotate(270deg);
  }
}


@keyframes flames{
  0%{
    transform:scale(0.8) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  20%{
    transform: scale(1) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  50%{
    transform: scale(0.6) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  70%{
    transform:scale(1) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  100%{
    transform:scale(0.8) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
}
@keyframes rocketfly{
  0%,100%{
    transform: translateX(-10px);
  }
  20%,25%{
     transform: translateX(10px);
  }
  40%,45%{
    transform: translate(5px);
  }
  60%,65%{
    transform: translate(15px);
  }
  80%,85%{
    transform: translate(10px);
  }
}

.autoBlur {
  animation: autoBlurAnimation both;
  animation-timeline: view();
  flex-wrap: wrap;
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
  }
  50% {
    filter: blur(0);
  }
}
