<div class="scroll-container">
  <div class="profile-bar-container">
    <div class="profile-bar"></div>
    <div class="profile-content">
      <section class="about-section">
        <div class="profile-card">
          <img
            class="profile-img"
            src="assets/images/me/myself2.png"
            alt="Profile"
          />

          <h2 class="name">Jason Bay</h2>

          <p class="role">Azubi</p>

          <div class="about">
            <h4>Über mich</h4>
            <p>20 Jahre </p>
            <p>Motorrad fahren</p>
            <p>Videos bearbeiten</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
