<div class="scroll-container">
  <div class="profile-bar-container">
    <div class="profile-bar"></div>
    <div class="profile-content">
      <section class="about-section">
        <div class="profile-card">
          <img
            class="profile-img"
            src="assets/images/me/myself2.png"
            alt="Profile"
          />

          <h2 class="name">Jason Bay, 20</h2>

          <p class="role">Azubi</p>

          <div class="about">
            <h4>Vorherige Tätigkeit</h4>
            <p>FSJ Lebenshilfe</p>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
