

.about-section{
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 800px;
  margin: 3rem auto;

}
  
  .profile-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 10rem;
    width: 800px;
    color: #fff;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  }
  
  .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    object-fit: cover;
  }
  
  .name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .role {
    margin-top: 0.3rem;
    color: #ccc;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  
  .about {
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .about h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .profile-bar-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: opacity 1s ease, transform 0.8s ease;
  }
  
  .profile-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    transition: width 1.5s ease-out;
    transform: translate(-50%, -50%);
  }
  
  .profile-content {
    opacity: 0;
    transition: opacity 1s ease;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 0.8s ease;
  }

  .profile-bar-container.show-bar .profile-bar {
    width: 100%; 
    opacity: 1;
  }
  
  .profile-bar-container.show-bar .profile-content {
    opacity: 1; 
    transform: translateY(0);
  }