html {
  font-size: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Consolas", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 947px) {
  *,
*::before,
*::after {
  box-sizing: border-box;
}
}
